@import url("https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap");

h1 {
    font-family: "Onest", serif;
	color: #fff;
    font-size: 5rem;
    line-height: 1;
    font-weight: 800;
}

h2 {
    font-family: "Onest", serif;
	color: #cfcfcf;
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
    text-wrap: pretty;
}

h3 {
    font-family: "Onest", serif;
	color: #fff;
	font-size: 3rem;
    font-weight: 700;
}

p {
	color: #a8a8a8;
	font-size: 16px;
}

blue {
	font-size: 16px;
	color: #004589;
}

yellow {
	font-size: 16px;
	color: #FFEEBB;
}

purple {
	font-size: 16px;
	color: #CA83D0;
}

green {
	font-size: 16px;
	color: #21AA1D;
}

bold {
    font-family: "Onest", serif;
	color: #fff;
	font-size: 18px;
    font-weight: 400;
}

.onest-font {
	font-family: "Onest", serif;
	font-optical-sizing: auto;
	font-size: 14px;
	font-weight: 300;
	font-style: normal;
}

* {
	transition: all 0.3s ease;
}

body {
	width: 100vw;
	height: 100vh;
	color: #a8a8a8;
	background: #0A0A0A;
	overflow-x: hidden;
}

content {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 6vh;
	width: 100vw;
	height: 100vh;
}

centered {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 6vh;
	width: 50vw;
	height: 100vh;
}

a {
	color: #a8a8a8;
	background: transparent;
	font-size: 16px;
	text-decoration: none;
	display: flex;
	align-content: center;
	align-items: center;
	margin-left: 20px;
	padding: 10px 20px;
	border-radius: 10px;
	border: 2.5px solid #161616;
}

a.get-started {
	color: black;
	background: #a8a8a8;
}

a.get-started:hover {
	color: black;
	background: #fff;
}

a:hover {
	color: #fff;
	background: #161616;
}

@keyframes textAnimation {
	0% {
	  background-position: 0% 50%;
	}
	50% {
	  background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

codeblock {
	width: 40vw;
	height: auto;
	padding: 25px;
	background: #161616;
	border-radius: 15px;
}

footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background: #0A0A0A;
	width: 98vw;
	height: 4vh;
	padding: 10px;
	border-top: 1px solid #161616;
}

footer .footer-section {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: auto;
	margin-right: 75px;
}

footer a {
	color: #a8a8a8;
	text-decoration: none;
	display: flex;
	align-content: center;
	align-items: center;
	margin-left: 20px;
	padding: 10px 15px;
	border-radius: 10px;
	border: none;
}

footer a:hover {
	color: #fff;
	background: #161616;
}